*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #CDDDDD;

}

.App {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ACBDBA;
  border: 10px solid #ACBDBA;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  height: fit-content;
}

header{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 1 0.25em;
  background-color: #ACBDBA;
  color: #051014;
  
}
main{
  margin: 1em;
  width: 100%;
  background-color: #ACBDBA;
  color: #051014;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: #ACBDBA;
  color: #051014;
  display: grid;
  place-content: center;
}

input {
  font-family: inherit;
  font-size: 1.5rem;
  color: #051014;
  width: 80%;
  height: 5vh;
  display: inline-flex;
  justify-content: flex-start;
  margin-right: .5rem;
  background-color: #A599B5;
  border-radius: 12px;
  outline: none;
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  padding: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  
}

button{
  font: inherit;
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #A599B5;
  color: #051014;
  cursor: pointer;
}

ul {
  margin-top: 1em;
  height: 60vh;
  background-color: #A599B5;
  border: 3px solid #ACBDBA;
  border-radius: 10px;
  list-style-type: none;
  overflow-y: scroll;
}

li
{
 width: auto;
}
.item
{
  display: flex;
  margin: 0.25em;
  padding: .25em;
  height: 10vh;
  border-radius: 10px;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  background-color: #CDDDDD;
}
.item input[type="checkbox"]{
  width: 5vh;
  height: 5vh;
  cursor: pointer;
  margin: 0.25em;
  padding: 0.25em;
}

label{
  display: flex;
  width: 80%;
  align-items: center;
  font-size: 1em;
  padding-left: .5em;
  justify-content: left;
}

.btnDelete{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .25em;
  pad: .25em;
  width: 40px;
  height: 40px;
  color: #051014;
}

.btnDelete:hover{
  color: #A599B5;
}

.searchInput {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 0 ;
  margin-top: 1em;
  margin-left: 1em;
  padding: .25em;
  width: 100%;
}